body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form select, .form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #45a049;
  }
  
  #options {
    margin-top: 20px;
  }
  
  .subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #options button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #64b575;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #options button:hover {
    background-color: #64b575;
  }
  